.container {
  height: 100vh;
}

header {
  height: 15vh;
  min-height: 90px;
  padding: 10px;
  text-align: center;
}
main {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.alignment {
  width: 49px !important;
  height: 49px !important;
  margin: 2px 1px !important;
}

/*
*   Scrollbar
*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: white; 
}
::-webkit-scrollbar-thumb {
  background: #d8dee4;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b0bfce;
}